* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}




.backimage {
    background-image: url(white-with-low-poly-network-connection_1017-29753.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    box-shadow: 0px 5px 5px gray;
}

.entire {
    padding-left: 120px;
    padding-right: 120px;
}


nav {
    display: flex;
    justify-content: end;

}

.clickables {
    text-decoration: none;
    color: black;
    font-size: 36px;
    padding-left: 25px;
    transition-property: all;
    transition-duration: 0.5s;
}

.clickables:hover {
    color: #43da84;
    transform: scale(1.2);
}

.start {
    height: 8px;
    background-color: black;
    text-decoration: none;
    margin-top: 20;
    margin-bottom: 20px;
}

#rest {
    height: 8px;
    background-color: black;
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 50px;

}


.aboutMe {
    display: flex;
    justify-content: center;
}

#name {
    font-size: 64px;
    display: flex;
    justify-content: center;

}

#last {
    color: #43da84;
    margin-left: 15px;

}


.aboutMe img {
    width: 589px;
    border: solid black 5px;
    border-radius: 5px;
}

.information {
    margin-top: 80px;
    margin-left: 20px;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hi {
    font-weight: bold;
    font-size: 52px;
}

.button {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.information button {
    text-decoration: none;
    font-size: 64px;
    border-radius: 5px;
    border: 5px black solid;
    height: 109px;
    width: 383px;
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    background-color: #D9D9D9;

}

.information button:hover {
    background-color: #ebf9f1;
}


.proTitle {
    margin-top: 100px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.proTitle p {
    font-size: 92px;
    font-weight: bold;
}


.holder {
    perspective: 700px;

    display: flex;
    justify-content: center;
    align-items: center;


}

.holder:hover>.card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.card {
    width: 383px;
    height: 383px;
    position: relative;
    transition: all 1s;
    transform-style: preserve-3d;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.front,
.hidden {
    width: 383px;
    height: 383px;
    position: absolute;
    backface-visibility: hidden;
    background-color: gray;
    border-radius: 10px;


}

.front {
    background-image: url(image\ 4.png);
}

.hidden {
    transform: rotateY(180deg);

    padding: 8px;


}

.hidden h1 {
    color: #43da84;
}



.bookstyle {
    position: relative;
    margin-top: 50px;


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;



}

.cme {
    font-weight: bold;
    font-size: 92px;
    width: fit-content;
    height: 110px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
    align-items: center;
}

.contactMe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.ned {
    display: flex;
    font-size: 30px;
    margin-bottom: 50px;


}

.ned input {
    height: 50px;
    width: 300px;
    outline: none;
    border: none;
    background-color: #ebf9f1;
    border-bottom: solid #ccc 2px;
    margin-left: 20px;
    font-size: 20px;
    padding-left: 5px;

}

.ned label {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    height: 50px;
}

#message {
    display: flex;
    justify-content: center;
}


.casein textarea {
    outline: none;
    background-color: #ebf9f1;
    border: solid #ccc 2px;
    width: 100%;
    height: 200px;
    font-size: 20px;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 5px;

}

.casein label {
    font-size: 30px;
}

.casein {
    display: flex;
    gap: 20px;
    flex-direction: column;

}

.waste {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;

}

.waste button {
    border: none;
    color: white;
    border-radius: 10px;
    background-color: black;
    width: 140px;
    height: 70px;
    transition-property: all;
    transition-duration: 0.5s;

}

.waste button:hover {
    transform: scale(1.2);
    background-color: #43da84;
    color: black;
}

.footer {
    width: 100%;
    background-color: #e0e0e08b;
    height: 250px;
    padding-top: 20px;

}

.return {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.return img {
    width: 50px;
    height: 30px;
    transition-property: all;
    transition-duration: 0.3s;

}

.return img:hover {
    transform: scale(1.6);
}

.understand {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;

}

#with {
    font-weight: bold;
    margin-right: 8px;
}


.claim {
    display: flex;
    height: 60px;
    align-items: end;
}



@media only screen and (max-width:430px) {

    .backimage {
        height: 1300px;
        box-shadow: 0px 5px 5px gray;
        background-size: cover;
    }

    .entire {
        padding: 0;
    }

    #send {
        display: flex;
        height: 40px;
        justify-content: center;
        position: sticky;
        top: 0px;
        border-bottom: solid black 5px;
        background-color: rgba(225, 234, 227, 0.921);
        z-index: 1;

    }

    .start {
        display: none;
    }

    .clickables {
        height: fit-content;
        font-size: 25px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .aboutMe {
        display: flex;
        flex-direction: column;
    }

    .information {
        margin: 15px;
        font-size: 20px;

    }


    .sector {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sector img {
        width: 95%;
        height: 400px;
        display: flex;
        justify-content: center;
    }

    .button button {
        height: 80px;
        width: 200px;
        color: black;
        font-size: 40px;
    }

    .proTitle {
        margin-top: 30px;
    }

    .proTitle p {
        font-size: 70px;
    }

    .bookstyle {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;

    }

    @keyframes withhold {

        100% {width: 350px; height: 350px;}
    }

    .card{
        width: 280px;
        height: 280px;

    }

    
    
    
    
    .holder:onclick>.card {
        cursor: pointer;
        transform: rotateY(180deg);
    }
    

    .front {
        width: 280px;
        height: 280px;
        background-size: cover;
        animation-name: withold;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }

    .hidden {
        width: 280px;
        height: 280px;
    }

    .cme {
        height: 50px;
    }

    .cme p {
        font-size: 53px;

    }

    .contactMe {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .ned {
        width: 100%;
    }


    .casein textarea {
        width: 95%;
        margin-left: 10px;

        height: 300px;
    }

    .return a {
        z-index: 1;

    }

    .understand {
        gap: 10px;
    }


}









@media screen and (min-width: 431px) and (max-width:834px) {



    .backimage {
        height: 1200px;
        width: auto;
        box-shadow: 0px 5px 5px gray;
        background-size: cover;
    }

    .entire {
        padding: 0;
    }

    #send {
        display: flex;
        height: 40px;
        z-index: 1;
        background-color: #f0f4f2da;
        border-bottom: black solid 3px;

    }

    .start {
        display: none;
    }

    .clickables {
        font-size: 25px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .aboutMe {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }

    .information {
        margin: 15px;
        font-size: 20px;

    }


    .sector {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sector img {
        width: 95%;
        height: 500px;
        display: flex;
        justify-content: center;
}

.proTitle{
    padding-left: 8px;
}


.bookstyle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

}

@keyframes withhold {
    
    to {scale: 1.5;}
}

.card {
    width: 280px;
    height: 280px;
}


.holder:onclick>.card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.front {
    width: 280px;
    height: 280px;
    background-size: cover;
}

.hidden {
    width: 280px;
    height: 280px;
}

.cme{
    padding-left: 8px;
}

.contactMe {
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ned {
    width: 100%;
}

.casein{
    padding-left: 8px;
}

}